*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: block;
  font-family: sans-serif;
  font-size: 75%;
  background-color: #D3D3D3;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 0 15px 0px;
  background-color: #D3D3D3;

}

nav {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 0 25px 0px;
  background-color: #D3D3D3;
  text-align: center;
}

div {
  margin: 10px 0px;

}

h1 {
  font-size: 2.5em;
  padding: 2%;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-family: sans-serif;
  font-size: 16px;
}

.preview-baku {
  background-image: url("../images/baku.jpg");
  background-size: 100%;

}

.preview-london {
  background-image: url("../images/london.png")

}

.preview-madrid {
  background-image: url("../images/madrid.jpg")
}

.preview-rome {
  background-image: url("../images/rome.jpg")
}
